<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>

<div th:include="fragments/components::header"/>
<div th:include="fragments/components::admin-nav-bar"/>

<body>

<br><br>

<table class="table table-dark">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
            Active
        </th>
        <th>
            Make
        </th>
        <th/>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user:${users}">
        <tr>
            <td>
                [[${user.getId}]]
            </td>
            <td>
                [[${user.getUsername}]]
            </td>
            <td>
                [[${user.getEmail}]]
            </td>
            <td>
                [[${user.getRoles.iterator().next().getName}]]
            </td>
            <td>
                [[${user.getIsActive}]]
            </td>
            <td>
                <a style=
                           "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
                   class="btn btn-info" th:href="@{'/admin/active'+${user.getId}}">Active</a>
            <a style=
                       "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
               class="btn btn-info" th:href="@{'/admin/inactive'+${user.getId}}">Inactive</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>