<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy products</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>

<div th:include="fragments/components::header"/>
<div th:include="fragments/components::b2c-nav-bar"/>

<body>

<table class="table table-dark">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Product name
        </th>
        <th>
            Product owner
        </th>
        <th/>
    </tr>
    </thead>

    <tbody>
    <div>
        <th:block th:each="product:${products}">
            <tr>
                <td>
                    [[${product.getId}]]
                </td>
                <td>
                    [[${product.getName}]]
                </td>
                <td>
                    [[${product.getUsers.iterator().next().getUsername}]]
                </td>
                <td>
                <a style=
                           "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
                   class="btn btn-info" th:href="@{'/buy_products/save'+${product.getId}}">Buy</a>
                </td>
            </tr>
        </th:block>
    </div>

    <br>
    <br>

    </tbody>
</table>

</body>
</html>