<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>

<div th:include="fragments/components::header"/>
<div th:if="${role == 'B2B'}"  th:include="fragments/components::b2b-nav-bar"/>
<div th:if="${role == 'B2C'}" th:include="fragments/components::b2c-nav-bar"/>
<div th:if="${role == 'Client'}" th:include="fragments/components::client-nav-bar"/>

<body>

<br><br>

<table class="table table-dark">
    <thead>
    <tr>
        <th/>
        <th>
            Product name
        </th>
        <th th:if="${role == 'B2B'}">
            Quantity
        </th>
        <th th:if="${role != 'B2B'}">
            Product owner
        </th>
        <th/>
        <th/>
    </tr>
    </thead>

    <tbody>
    <div th:if="${products.size() != null}">
        <th:block th:each="product:${products}">
            <tr>
                <td/>
                <td>
                    [[${product.getName}]]
                </td>
                <td th:if="${role == 'B2B'}">
                    [[${product.getQuantity}]]
                </td>

                <td th:if="${role != 'B2B'}"}>
                    [[${product.getUsers.iterator().next().getUsername}]]
                </td>

                <td th:if="${role == 'B2B'}">
                     <a style=
                                  "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
                        class="btn btn-info" th:href="@{'/edit'+${product.getId}}">Edit quantity</a>
                </td>

                <td th:if="${role == 'Client'}">
                    <a style=
                               "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
                       class="btn btn-info" th:href="@{'/add_to_cart'+${product.getId}}">Add to cart</a>
                </td>

                </td>
            </tr>
        </th:block>
    </div>

    </tbody>
</table>

</body>
</html>