<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/components::header"/>

<body>
<div class="container mt-5">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form class="form-signin" method="POST" th:action="@{/login}">
            <h2 class="form-heading text-center">Log in</h2>

            <div class="form-group">
                <!-- Username -->
                <div class="form-floating mb-3">
                    <!-- Must be named username in order to be recognised by the Spring Security -->
                    <input id="floatingInput"
                           name="username"
                           type="text"
                           class="form-control"
                           placeholder="Username"
                           autofocus="true"/>
                    <label for="floatingInput">Username</label>
                </div>

                <!-- Password -->
                <div class="form-floating">
                    <input id="floatingPassword"
                           name="password"
                           type="password"
                           class="form-control" p
                           placeholder="Password"/>
                    <label for="floatingPassword">Password</label>
                </div>

                <span class="has-error" th:text="${error}"></span>

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <!-- Login/Register -->
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            type="submit">
                        Log In
                    </button>

                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                        <a href="/register" class="link-danger">Register</a>
                    </p>
                </div>

                <!-- Logout message -->
                <span th:text="${message}"></span>
            </div>
        </form>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>